div.container {
 width: 100px;
 height: 150px;
 margin: 0px auto;
}

div.grid {
 width: 100px;
 height: 40px;
 margin: 5px;
 line-height: 1px;
 box-shadow: 1px 1px 1px gray;
 font-size: 1px;
 display: inline-block;
}